{% extends 'base.twig' %}


{% block main %}

<div class="grid">
    <article>
        <h2>The {{ zerg.name }}</h2>

        <div class="card">
            <img src="{{ zerg.avatar }}" alt="{{ zerg.name }}" />
            <p>EN CONSTRUCTION</p>
        </div>
    </article>

    <aside>

        <h3>The Abilities</h3>
    
    {% for dino in top_rated_zerg %}
            <a href="/dinosaur/{{ dino.slug }}">
                <figure>
                    <img src="{{ dino.avatar }}" alt="{{ dino.name }}" />
                    <figcaption>Discover the {{ dino.name }}</figcaption>
                </figure>
            </a>
        {% endfor %}

    </aside>
    </div>
    {% endblock %}