{% extends 'base.twig' %}


{% block main %}

<div class="grid">
    <article>
        <h2>The {{ terran.name }}</h2>

        <div class="card">
            <img src="{{ terran.avatar }}" alt="{{ terran.name }}" />
            <dl class="dl1">
                <dt>Name</dt>
                <dd>{{ terran.name }}</dd>
                <dt>Build time</dt>
                <dd>{{ terran.build_time }}</dd>
                <dt>Armor</dt>
                <dd>{{ terran.armor }}</dd>
                <dt>Hitpoints</dt>
                <dd>{{ terran.hitpoints }}</dd>
                <dt>Max energy</dt>
                <dd>{{ terran.max_energy }}</dd>
                <dt>Starting energy</dt>
                <dd>{{ terran.starting_energy }}</dd>
                <dt>Damage</dt>
                <dd>{{ terran.damage }}</dd>
                <dt>Range</dt>
                <dd>{{ terran.range }}</dd>
            </dl>
            <dl class="dl2">
                <dt>Sight</dt>
                <dd>{{ terran.sight }}</dd>
                <dt>Speed</dt>
                <dd>{{ terran.speed }}</dd>
                <dt>type</dt>
                <dd>{{ terran.type }}</dd>
                <dt>Hot key</dt>
                <dd>{{ terran.hotkey }}</dd>
                <dt>Minerals</dt>
                <dd>{{ terran.minerals }}</dd>
                <dt>Vespene gas</dt>
                <dd>{{ terran.vespene_gas }}</dd>
                <dt>Supply</dt>
                <dd>{{ terran.supply }}</dd>
            </dl>
        </div>
    </article>

    <aside>

        <h3>Abilities</h3>
    
    {% for dino in top_rated_terran %}
            <a href="/dinosaur/{{ dino.slug }}">
                <figure>
                    <img src="{{ dino.avatar }}" alt="{{ dino.name }}" />
                    <figcaption>Discover the {{ dino.name }}</figcaption>
                </figure>
            </a>
        {% endfor %}

    </aside>
</div>
{% endblock %}