{% extends 'base.twig' %}


{% block main %}

<div class="grid">
    <article>
        <h2>The {{ zerg.name }}</h2>

        <div class="card">
            <img src="{{ zerg.avatar }}" alt="{{ zerg.name }}" />
            <dl>
                <dt>Name</dt>
                <dd>{{ zerg.name }}</dd>
                <dt>Build time</dt>
                <dd>{{ zerg.build_time }}</dd>
                <dt>Armor</dt>
                <dd>{{ zerg.armor }}</dd>
                <dt>Hitpoints</dt>
                <dd>{{ zerg.hitpoints }}</dd>
                <dt>Max energy</dt>
                <dd>{{ zerg.max_energy }}</dd>
                <dt>Starting energy</dt>
                <dd>{{ zerg.starting_energy }}</dd>
                <dt>Damage</dt>
                <dd>{{ zerg.damage }}</dd>
                <dt>Range</dt>
                <dd>{{ zerg.range }}</dd>
                <dt>Sight</dt>
                <dd>{{ zerg.sight }}</dd>
                <dt>Speed</dt>
                <dd>{{ zerg.speed }}</dd>
                <dt>type</dt>
                <dd>{{ zerg.type }}</dd>
                <dt>Hot key</dt>
                <dd>{{ zerg.hotkey }}</dd>
                <dt>Minerals</dt>
                <dd>{{ zerg.minerals }}</dd>
                <dt>Vespene gas</dt>
                <dd>{{ zerg.vespene_gas }}</dd>
                <dt>Supply</dt>
                <dd>{{ zerg.supply }}</dd>
            </dl>
        </div>
    </article>

    <aside>

        <h3>The Abilities</h3>
    
    {% for dino in top_rated_zerg %}
            <a href="/dinosaur/{{ dino.slug }}">
                <figure>
                    <img src="{{ dino.avatar }}" alt="{{ dino.name }}" />
                    <figcaption>Discover the {{ dino.name }}</figcaption>
                </figure>
            </a>
        {% endfor %}

    </aside>
    </div>
    {% endblock %}